@import "./var.css";
.name {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.name {
  margin-top: 150px;
  font-size: 550%;
}
.abou {
  padding-left: 20px;
  margin-bottom: 10px;
}
.para {
  margin-bottom: 50px;
  padding-left: 20px;
}
